body { background-color: #FFFFFF;
       color: #242424;
       margin: 0;
       font-family: Verdana, Arial, sans-serif;
       font-weight: 400;
       font-style: normal;
       margin-left: auto;
       margin-right: auto;
       padding: 2em;
}
h2, h3 { font-family: "Times New Roman", Times, serif;
}
p { font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;  
}
#blog1, #blog2, #blog3 { 
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 2em;
      height: 150px; 
      font-size: 2em;
      margin-top: 0;
      padding-left: 150px; padding-top: 30px;
      border-radius: 15px;
      box-shadow: 10px 10px 10px #1E1E1E    
}
#blog1 { background-color: #a4a4a4;
}
#blog2 { background-color: #ecc00c;             
}
#blog3 { background-color: #504c4c;
         color: #ffffff;         
}
.burgenerblog { height: 300px; 
              background-image: url(images/burgenerblog.png);
              background-size: 100% 100%; 
              background-repeat: no-repeat;
              padding-left: 25px;
              padding-bottom: 30px;
              font-size: 150%; 
              padding-top: 30px;
              border-radius: 15px;
              box-shadow: 10px 10px 10px #1E1E1E  
}
.burgenerlogo { margin-left: auto;
                margin-right: auto;
                width: 50px; 
                height: 50px;
                display: block;
}
.nav1, .nav2, .nav3, .nav4, .nav5  { background-color: #ffffff;
               color: #ffffff;
               font-weight: bold;
}  
nav a { text-decoration: none; 
}
footer { text-align: center; 
         font-style: italic; 
         font-size: small;
}